@page "/Cushion"

<h1>{filename}</h1>

<h2>{URL}</h2>

<div id="content">{content}</div>

<style>
	h1, h2 {
		text-align: center;
	}

	h2 {
		border: solid 1px #8888;
		border-radius: 4px;
		padding: 10px;
	}

	div#content {
		border: solid 1px #8888;
	}
</style>