@page "/"
@inject NavigationManager Navi
<h1>Index</h1>

<button @onclick="@(()=>Navi.NavigateTo("/Cushion"))">Cushion</button>
<button @onclick="@(()=>Navi.NavigateTo("/Explorer"))">Explorer</button>
