<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="6269kurema.BookViewer3" Publisher="CN=5E93616C-E6FD-4F3F-9466-8AC306D36152" Version="3.1.8.0" />
  <mp:PhoneIdentity PhoneProductId="8439bd8e-905f-4350-83de-a53a274dd69e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BookViewer3</DisplayName>
    <PublisherDisplayName>kurema</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>PDF/CBZ/CBR viewer</Description>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BookViewerApp3.App">
      <uap:VisualElements DisplayName="ms-resource:AppName" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="CBZ/CBR/PDF/EPUB Viewer"  BackgroundColor="#005005">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#005005" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="d6a622bc-18db-45bc-81a3-23a05b676ef9">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/x-cbz">.cbz</uap:FileType>
              <uap:FileType ContentType="application/pdf">.pdf</uap:FileType>
              <uap:FileType ContentType="application/x-cbz">.zip</uap:FileType>
              <uap:FileType ContentType="application/x-cbr">.cbr</uap:FileType>
              <uap:FileType ContentType="application/x-cbr">.rar</uap:FileType>
              <uap:FileType ContentType="application/x-cb7">.7z</uap:FileType>
              <uap:FileType ContentType="application/x-cb7">.cb7</uap:FileType>
              <uap:FileType ContentType="application/epub+zip">.epub</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>